{% load staticfiles %}
<header class="index-list-header" style="background-image: url({% static 'images/gplay.png' %});">
    <div class="container">
        <h1>PROJECT DENZO</h1>
        <p>Helipad</p>
    </div>
</header>
        <!-- {% with test_var=patient_list %}
            <h5>total number of patients in Cardiology: {{ test_var.count }}</h5>
            {% for object in test_var %}
                {% if object.category = "Cardiology"%}
                    <h5>total number of patients in Cardiology:</h5>
                {% endif %}
            {% endfor %}
        {% endwith %} -->